<figure
  class="post-media{{#unless small_image}} container large{{/unless}}{{#if og_description}} podcast-js{{/if}}"
  data-url="{{og_description}}"
  data-id="{{comment_id}}"
>
  {{#if og_description}}
    {{#unless feature_list}}
      <button class="podcast-button-outside podcast-button-play button" data-id="{{comment_id}}"><i class="icon icon-button-play"></i></button>
    {{/unless}}
  {{/if}}
  <div class="u-placeholder{{#if ratio}} {{ratio}}{{/if}}">
    {{#if show_tag}}
      {{#if primary_tag}}
        <a class="post-media-tag post-tag-{{primary_tag.slug}}"
          href="{{primary_tag.url}}"
          title="{{primary_tag.name}}">{{primary_tag.name}}</a>
      {{/if}}
    {{/if}}
    {{#if feature_image}}
      <a class="post-image-link" href="{{url}}">
        <img class="post-image lazyload u-object-fit"
          {{#if static_image}}
          src="{{img_url feature_image size="m"}}" {{else}}
          data-srcset="{{img_url feature_image size="s"}} 400w, {{img_url feature_image size="m"}} 750w, {{img_url feature_image size="l"}} 960w, {{img_url feature_image size="xl"}} 1140w, {{img_url feature_image size="xxl"}} 1920w"
          data-sizes="auto" src="{{img_url feature_image size="l"}}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          {{/if}} alt="{{title}}" />
      </a>
    {{else}}
      <a class="post-image-link" href="{{url}}">
        <img class="post-image u-object-fit" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{title}}" />
      </a>
    {{/if}}
  </div>
</figure>
